ACTIVE_PROFILE=dev

DB_DRIVER=org.postgresql.Driver
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/dev
SPRING_DATASOURCE_USERNAME=dev
SPRING_DATASOURCE_PASSWORD=dev

POSTGRES_DB=dev
POSTGRES_USER=dev
POSTGRES_PASSWORD=dev

ENCRYPTION_KEY=S3cr3tK3y1234567

JWT_SECRET=6b6f6f626c6f6f6b616e616c796f75727365637265746b6579313233
JWT_EXPIRATION=3600000

OPENROUTER_API_KEY=sk-or-v1-RGkd8WLyrvUHgAIzaSyv07u71I2QeDvJi7NQmdd